<include>
 <user id="SEP001120AABBCC">
   <skinny>
    <buttons>
      <button position="1" type="Line" label="Line 1" value="1101" caller-name="Calling as 1101"/>
    </buttons>
   </skinny>
  </user>
</include>
