<include>
#for $user in $users
 <user id="$user.sep">
   <skinny>
    <buttons>
      <button position="1" type="Line" label="Line 1" value="$user.line" caller-name="Calling as $user.line"/>
    </buttons>
   </skinny>
  </user>
#end for
</include>
